.lesson-text-area{
    background: #e8e8e8;
    max-height: 305px;
    padding: 10px;
    overflow: auto;
}
.front_lesson-text-area{
  height: 550px;
  background: #e8e8e8;
    padding: 10px;
    overflow: auto;
}
  .member_circle{
      width: 100%;
      height: 100px;
  }
  .member_circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  
  .lesson-list-container{
    max-height: 550px;
    overflow: auto;
  }
  .resourceListButton{
    position: absolute;
    right: 0;
  }